.videoCard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;

  :hover {
    transform: scale(1.09);
  }

  img {
    height: 300px;
    object-fit: contain;
    width: 500px;
  }
}
