<div class="nav">
  <h2 (click)="fetchSpecificGenre('Trending')">Trending</h2>
  <h2 (click)="fetchSpecificGenre('Top Rated')">Top Rated</h2>
  <h2 (click)="fetchSpecificGenre('Sci-Fi')">Sci-Fi</h2>
  <h2 (click)="fetchSpecificGenre('Action')">Action</h2>
  <h2 (click)="fetchSpecificGenre('Comedy')">Comedy</h2>
  <h2 (click)="fetchSpecificGenre('Romance')">Romance</h2>
  <h2 (click)="fetchSpecificGenre('Animation')">Animation</h2>
  <h2 (click)="fetchSpecificGenre('Mistery')">Mistery</h2>
  <h2 (click)="fetchSpecificGenre('Western')">Western</h2>
</div>
<app-results [movies]="movies"></app-results>
